img {
    max-height: 300px;

}
.thumbnail > img {
    margin-top: 20px;
}
.cards_container {
    width: 50%;
    max-width: 50%;
    padding-top: 10px;
}
.center {
  margin: auto;
}

.panel-heading {
    text-transform: capitalize;
}

#ud-buttons{
    text-align: right !important;
}